@model MVCKutuphane.Models.EntityF.Kategoriler
@{
    ViewBag.Title = "YeniKategori";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Kategori Ekleme</h2>
<form method="post" class="form-group-lg">

    <label>Kategori Adı:</label>
    <input type="text" class="form-control" name="Kategori" /><br />

    <button class="btn btn-info">Kategori Ekle</button>

</form>

