@model MVCKutuphane.Models.EntityF.Duyurular
@{
    ViewBag.Title = "DuyuruGetir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("DuyuruGuncelle", "Duyurular", FormMethod.Post))
{
    <h2 class="text-center">Duyuru Güncelleme</h2>
    <form method="post" class="form-group-lg">

        @Html.HiddenFor(x => x.Id)
        <label class="font-weight-bolder">Kategori</label>
        @Html.TextBoxFor(x => x.Kategori, new { @class = "form-control" })<br />

        <label class="font-weight-bolder">Kategori</label>
        @Html.TextBoxFor(x => x.Duyuru, new { @class = "form-control" })<br />

        <button class="btn btn-info">Duyuruyu Güncelle</button>

    </form>
}


